.bg-03 {
    padding: 50px 0px;
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 9; }
    .bg-03::before {
      position: absolute;
      content: "";
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      right: 0;
      background-color: rgba(0, 33, 71, 0.9);
      z-index: 1; }
    .bg-03 ._lk_bg_cd {
      padding: 20px 25px;
      position: relative;
      display: block;
      z-index: 8;
      text-align: center; }
      .bg-03 ._lk_bg_cd i {
        font-size: 25px;
        color: #fdc800;
        display: block;
        padding: 10px 0px; }
      .bg-03 ._lk_bg_cd .counting {
        display: block;
        font-size: 20px;
        color: #fff;
        font-weight: 600; }
      .bg-03 ._lk_bg_cd h5 {
        font-size: 18px;
        color: #fff;
        padding: 10px 0px;
        display: inline-block; }

        .bg-04 {
            padding: 50px 0px;
            background: #eef6ff;
            position: relative;
            overflow: hidden; }
            .bg-04 ._lk_bg_sd_we {
              position: relative;
              overflow: hidden;
              margin: 20px 0;
              box-shadow: 0px 0px 15px 0px #ddd; }
              .bg-04 ._lk_bg_sd_we ._xs_we_er {
                display: inline-block;
                width: 100%;
                padding: 15px; }
                .bg-04 ._lk_bg_sd_we ._xs_we_er ._he_w {
                  position: relative;
                  margin: 10px 0px;
                  z-index: 2;
                  overflow: hidden; }
                  .bg-04 ._lk_bg_sd_we ._xs_we_er ._he_w p {
                    font-size: 16px;
                    color: #5c5c5c;
                    letter-spacing: 0.2px;
                    line-height: 24px;
                    margin: 15px 0px 10px 0px; }
                  .bg-04 ._lk_bg_sd_we ._xs_we_er ._he_w ol li {
                    color: #f55e45;
                    font-size: 14px;
                    display: inline-block;
                    width: 100%; }
                    .bg-04 ._lk_bg_sd_we ._xs_we_er ._he_w ol li ._mn_cd_xs {
                      margin: 0 10px; }
                    .bg-04 ._lk_bg_sd_we ._xs_we_er ._he_w ol li span {
                      color: #5c5c5c;
                      font-size: 15px;
                      font-weight: 500;
                      margin: 0 5px 0 0; }
                  .bg-04 ._lk_bg_sd_we ._xs_we_er ._he_w h3 {
                    font-size: 18px;
                    font-weight: 400;
                    color: #292929; }
              .bg-04 ._lk_bg_sd_we ._bv_xs_we {
                position: relative;
                z-index: 1;
              
                background-repeat: no-repeat !important;
                height: 300px;
                background-size: cover !important;
                background-position: center !important; }
                .bg-04 ._lk_bg_sd_we ._bv_xs_we:hover::before {
                  opacity: 0.8;
                  width: 100%;
                  visibility: visible;
                  transition: 0.5s; }
                .bg-04 ._lk_bg_sd_we ._bv_xs_we::before {
                  content: "";
                  position: absolute;
                  width: 0;
                  height: 100%;
                  top: 0;
                  background: #002147;
                  transition: 0.5s;
                  opacity: 0;
                  visibility: hidden; }
          

        
  